<form>

    
    <p>{{mensajePost}}</p>
    Nombre: <input type="text" ng-model="paciente.nombre">
    <br>
    Apellido: <input type="text" ng-model="paciente.apellido">
    <br>
    Cedula: <input type="text" ng-model="paciente.cedula">
    <br>
    Dirección: <input type="text" ng-model="paciente.direccion">
    <br>
    Telefono: <input type="text" ng-model="paciente.telefono">
    <br>
    <input type="button" class="btn btn-success" value="Crear paciente" ng-click="crearPaciente()">
</form>